export PYTHON_SOURCE_PATH=src/spicy
export PYTHON_TEST_PATH=tests
export PYTHON_PROJECT=spicy
export MYPY_TYPES_PACKAGES="--with types-PyYAML --with pytest --with markdown-it-py --with mdformat --with types-click"
